button {
  width: 250px;
  height: 80px;
  font-size: 27px;
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 7px 7px 7px 7px;;

}

button:hover{
  background-color: darkgreen;
}

.boton-clic {
  background-color: blue;
}

.boton-reiniciar{
  background-color: brown;
}
